#contact{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-header {
  text-align: center;
  margin-bottom: 40px;


}

.contact-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}

.social-links {

  display: flex;
  flex-direction: column;


}

.social-link a {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  text-decoration: none;


}

.social-link a svg {
  width: 30px;
  height: 30px;
}

.social-link a span {
  margin-left: 10px;
}


