#home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  height: 100%;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.home-title {
  width: 50%;
  text-align: center;

}

.home-title p {
  font-size: 20px;
  text-align: justify;
}

.home-title h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

.home-button {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

}

.home-a {
  display: flex;
  align-items: center;
  color: #fdf6f6d3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
  padding: 10px 15px;
  text-align: center;  
  font-weight: 500;
  background-color: #3498db;
  border-radius: 10px;
}

.home-a:hover span {
  transform: rotate(90deg);
}

.home-a span {
  margin-left: 10px;
}

.home-image img { 
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3); 
}

.multicolor {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  cursor: pointer;
}


@media screen and (max-width: 992px) {
  #home {
    flex-direction: column;
    padding: 20px;
  }

  .home-content {
    flex-direction: column;
    align-items: center;
    
  }

  .home-title {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    order: 3;
  }

  .home-image {
    display: flex;
    justify-content: center;
    order: 1;
    
  }

  .home-image img{
    width: 70%;
  }

  .home-button {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .home-a {
    margin: 10px 10px;
  }

  .image-color{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
  }

  .color-mode{
    order: 2;
  }

}
