.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

.portfolio-items {
  display: grid;
  grid-template-columns: repeat(3,1fr);  
  gap: 20px;
}

.portfolio-item { 
  height: 450px;
  overflow: hidden;
  position: relative;
  width: 500px; 
  border-radius: 20px;  
}

.portfolio-item:hover .portfolio-titles {
  bottom: 0;
}
.portfolio-image {
  bottom: 0; 
  left: 0;
  position: absolute;
  right: 0;
  top: 0;  
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.portfolio-titles {
  background-color: rgb(0, 0, 0, 0.5);
  bottom: -100%;
  width: 100%; 
  position: absolute;
  text-align: center;
  transition: 0.8s ease-in-out;
}

.portfolio-titles p{
  font-weight: 600;
  font-size: 20px;
  color:white
}


.portfolio-buttons{
 display: flex;
 justify-content: space-around; 
}

.portfolio-demo-button{
  background-color: rgb(61, 151, 48) ;
  transition: ease-out 0.8s; 
}
.portfolio-code-button{
  background-color: rgb(77, 146, 148);
  transition: ease-out 0.8s;
}

.portfolio-demo-button:hover,
.portfolio-code-button:hover
{
  box-shadow: inset 200px 0 0 0 #cacaca;
  color: rgb(73, 73, 73);
}

.portfolio-buttons button{
padding: 10px 40px;
}

@media (max-width: 1600px) {
  .portfolio-items {
    grid-template-columns: repeat(2,1fr);  
  }
}

@media (max-width: 1200px) {
  .portfolio-item { 
    height: 350px;
    width: 450px;
  }
}
@media (max-width: 992px) {
  .portfolio-items {
    grid-template-columns: repeat(1,1fr);  
  }
  .portfolio-item { 
    height: 350px;
    width: 550px;
  }
}

@media (max-width: 576px) {
 
  .portfolio-item { 
    height: 250px;
    width: 350px;
  }
}

