.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.portfolio-header {
  text-align: center;
  margin-bottom: 20px;
}

.portfolio-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}



.portfolio-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.portfolio-item {
margin: 10px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.portfolio-image {
  width: 80%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
 
}

.portfolio-item:hover .portfolio-image {
  transform: scale(1.3);
}


.title {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  
 
}

.portfolio-item:hover .title {
  opacity: 1;
}

.portfolio-titles {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
  margin: 10px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.portfolio-demo-button,
.portfolio-code-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background-color: #007bff;
  
}

.portfolio-code-button {
  background-color: #28a745;
}

@media (max-width: 768px) {
  .portfolio-items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
